<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="sms2SOAPbasicHttpBinding" />
                <binding name="sms2SOAPbasicHttpsBinding">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="sms2wsHttpBinding">
                    <security mode="None" />
                </binding>
                <binding name="sms2wsHttpBindingSecure">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://sms2.cdyne.com/sms.svc/Soap" binding="basicHttpBinding"
                bindingConfiguration="sms2SOAPbasicHttpBinding" contract="ChickenSoftware.Cdyne.Isms"
                name="sms2SOAPbasicHttpBinding" />
            <endpoint address="https://cciad1wcf.cdyne.net/sms.svc/SecureSoap"
                binding="basicHttpBinding" bindingConfiguration="sms2SOAPbasicHttpsBinding"
                contract="ChickenSoftware.Cdyne.Isms" name="sms2SOAPbasicHttpsBinding" />
            <endpoint address="http://sms2.cdyne.com/sms.svc/WS" binding="wsHttpBinding"
                bindingConfiguration="sms2wsHttpBinding" contract="ChickenSoftware.Cdyne.Isms"
                name="sms2wsHttpBinding" />
            <endpoint address="https://cciad1wcf.cdyne.net/sms.svc/WS" binding="wsHttpBinding"
                bindingConfiguration="sms2wsHttpBindingSecure" contract="ChickenSoftware.Cdyne.Isms"
                name="sms2wsHttpBindingSecure" />
        </client>
    </system.serviceModel>
</configuration>